
textarea {
  min-width: 600px;
  min-height: 600px;
}

.dbStructureGridColumn{
  padding: 0px !important;
}

.dbStructureSegment{
  max-width: 400px;
  height: 100%;
  overflow:scroll; 
  width: 100%!important;
}

.MainWorkingAreaSegment{
  height: 100%;
  overflow:scroll; 
}

.ui.fluid.container.MainContainer{
  height: 100%;
}

.ui.horizontal.segments.mainSegments{
  height: 100%;
  margin: 0px;
}

.rootElementCss{
  height: 100%;
}
