
.MainWorkingTextArea {
  height: 660px !important;
  max-height: 650px;

}

.cm-s-material.CodeMirror{
  height: 660px !important;
}

.dbStructureSegment{
  max-width: 400px;
  height: 100%;
  overflow:scroll; 
  width: 100%!important;
  transform: translate3d(0,0,0);
}

.MainWorkingAreaSegment{
  height: 100%;
  overflow:scroll; 
  transform: translate3d(0,0,0);
  
}

.ui.fluid.container.MainContainer{
  height: 100%;
}

.ui.horizontal.segments.mainSegments{
  height: 100%;
  margin: 0px;
}

.rootElementCss{
  height: 100%;
}

.ui.styled.accordion .content.bdStructureAccordionContent{
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.ui.compact.segments .segment.segmentAroundMenuItem{
  border-radius: .28571429rem;
  overflow-wrap: break-word;
  padding: 0px;
}

.ui.compact.segments .segment.structureComponentSegmentAroundAccordion{
  padding: 0px;
}

.ui.vertical.menu .item.dbStructureMainAccordion{
  padding-right: 0px;
}

.ui.vertical.menu .active.item.activeMenuItemStyle {
  background: rgba(23, 153, 73, 0.308);
}

.ui.vertical.menu .active.item:hover.activeMenuItemStyle {
  background: rgba(17, 112, 54, 0.308);
}

.ui.attached.tabular.menu.CustomTopMenu {
  overflow-x:scroll; 
  overflow-y:hidden; 
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top).ResultsTextAreaSegment{
  background-color: rgba(229, 229, 229, 1);
  border: none;
}

.ui.disabled.segment.ResultsTextAreaSegment{
  pointer-events: none;
  text-shadow: none!important;
}

.ui.tabular.menu .item.TabsMenuItems{
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(229, 229, 229, 1);
  border-radius: .28571429rem .28571429rem 0 0;
}
